.blog {
    padding: 3em 0;
    background-color: #fffafa;;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.5em auto;
    padding: 2em 0;
    background-color: #afeeee;
    border-radius: 7px;
    border: 2px black solid;
}

.text {
    height: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.image {
    height: 50%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rating {
    height: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 576px){


    .blog {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
    }

    
}