<div class="blog">

    <div class="card">
        <div class="text">
            <h3>Destination</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae sunt modi, voluptas ipsum placeat voluptatum quo pariatur ut accusantium obcaecati doloribus odit? Neque magni, praesentium incidunt ut laborum quisquam beatae?</p>
        </div>

        <div class="image">
            <img src="https://cdn.pixabay.com/photo/2018/07/16/16/08/island-3542290_960_720.jpg" alt="">
        </div>
        <div class="rating">
            <h3>Rating</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum aspernatur ipsum maxime temporibus autem ullam fugiat quia voluptate id. Dolorem esse tenetur fuga libero est sint qui placeat labore cum!</p>
        </div>
</div>

<div class="card">
    <div class="text">
        <h3>Destination</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae sunt modi, voluptas ipsum placeat voluptatum quo pariatur ut accusantium obcaecati doloribus odit? Neque magni, praesentium incidunt ut laborum quisquam beatae?</p>
    </div>

    <div class="image">
        <img src="https://cdn.pixabay.com/photo/2018/07/16/16/08/island-3542290_960_720.jpg" alt="">
    </div>
    <div class="rating">
        <h3>Rating</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum aspernatur ipsum maxime temporibus autem ullam fugiat quia voluptate id. Dolorem esse tenetur fuga libero est sint qui placeat labore cum!</p>
    </div>
</div>

<div class="card">
    <div class="text">
        <h3>Destination</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae sunt modi, voluptas ipsum placeat voluptatum quo pariatur ut accusantium obcaecati doloribus odit? Neque magni, praesentium incidunt ut laborum quisquam beatae?</p>
    </div>

    <div class="image">
        <img src="https://cdn.pixabay.com/photo/2018/07/16/16/08/island-3542290_960_720.jpg" alt="">
    </div>
    <div class="rating">
        <h3>Rating</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum aspernatur ipsum maxime temporibus autem ullam fugiat quia voluptate id. Dolorem esse tenetur fuga libero est sint qui placeat labore cum!</p>
    </div>
</div>

<div class="card">
    <div class="text">
        <h3>Destination</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae sunt modi, voluptas ipsum placeat voluptatum quo pariatur ut accusantium obcaecati doloribus odit? Neque magni, praesentium incidunt ut laborum quisquam beatae?</p>
    </div>

    <div class="image">
        <img src="https://cdn.pixabay.com/photo/2018/07/16/16/08/island-3542290_960_720.jpg" alt="">
    </div>
    <div class="rating">
        <h3>Rating</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum aspernatur ipsum maxime temporibus autem ullam fugiat quia voluptate id. Dolorem esse tenetur fuga libero est sint qui placeat labore cum!</p>
    </div>
</div>


</div>
